@media only screen and (min-width: 701px) {
  body .header-wrapper .header .header-topnav .topnav-icon a {
    display: none; }
  body .wrapper {
    width: 80%; }
  body .main-wrapper {
    margin: 0 auto; }
    body .main-wrapper .main {
      margin: 50px auto; }
  body .footer {
    display: flex;
    flex-direction: row; } }
@media only screen and (max-width: 700px) and (min-width: 320px) {
  .header {
    height: 50px; }
    .header .header-topnav .topnav-item {
      display: none; }
    .header .header-topnav .topnav-icon {
      position: absolute;
      top: 14px;
      right: 16px;
      cursor: pointer; }
      .header .header-topnav .topnav-icon a {
        text-decoration: none;
        color: #313131;
        cursor: pointer; }

  .main-wrapper {
    margin: 0 auto; }

  .footer {
    display: flex;
    flex-direction: column;
    align-items: center; } }
@media only screen and (max-width: 700px) and (min-width: 320px) and (max-width: 700px) and (min-width: 320px) {
  .responsive-header {
    height: 100vh; }
    .responsive-header .responsive {
      display: flex;
      flex-direction: column;
      height: 55vh; }
      .responsive-header .responsive .topnav-item {
        display: block;
        margin: auto; }
      .responsive-header .responsive .topnav-item:nth-child(2) {
        margin-top: 100px; }
      .responsive-header .responsive .topnav-icon {
        top: 14px;
        right: 16px; }
        .responsive-header .responsive .topnav-icon a {
          text-decoration: none;
          color: #b1b1b1;
          transition: 0.3s; } }
/*smoothly loading*/
@-webkit-keyframes fade-in {
  0% {
    opacity: 0.1; }
  100% {
    opacity: 1; } }
@-moz-keyframes fade-in {
  0% {
    opacity: 0.1; }
  100% {
    opacity: 1; } }
@-o-keyframes fade-in {
  0% {
    opacity: 0.1; }
  100% {
    opacity: 1; } }
@keyframes fade-in {
  0% {
    opacity: 0.1; }
  100% {
    opacity: 1; } }
body {
  -webkit-animation: fade-in 1s linear;
  /* Safari 4+ */
  -moz-animation: fade-in 1s linear;
  /* Fx 5+ */
  -o-animation: fade-in 1s linear;
  /* Opera 12+ */
  animation: fade-in 1s linear;
  /* IE 10+, Fx 29+ */ }

.wrapper .main-wrapper {
  width: 100% !important;
  margin: 0 auto; }
  .wrapper .main-wrapper .gallery {
    margin: 0 auto; }
    .wrapper .main-wrapper .gallery .row {
      display: flex;
      flex-wrap: wrap;
      width: 100%; }
      .wrapper .main-wrapper .gallery .row .column {
        padding: 0 2px; }
        .wrapper .main-wrapper .gallery .row .column img {
          margin-top: 4px;
          vertical-align: middle; }
        .wrapper .main-wrapper .gallery .row .column img:hover {
          transform: scale(0.9);
          transition: 0.3s;
          opacity: 0.5; }

@media only screen and (min-width: 701px) {
  .column {
    flex: 30%; }
    .column img {
      width: 100%; } }
@media only screen and (max-width: 700px) and (min-width: 320px) {
  .column {
    flex: 50%; }
    .column img {
      width: 100%; } }
@keyframes zoomin {
  0% {
    max-width: 0%; }
  10% {
    max-width: 10%; }
  20% {
    max-width: 20%; }
  30% {
    max-width: 30%; }
  40% {
    max-width: 40%; }
  50% {
    max-width: 50%; }
  60% {
    max-width: 60%; }
  70% {
    max-width: 70%; }
  80% {
    max-width: 80%; }
  90% {
    max-width: 90%; }
  100% {
    max-width: 100%; } }
body {
  font-family: "Open Sans", sans-serif;
  background-color: white;
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box; }
  body .header-wrapper {
    width: 100%; }
    body .header-wrapper .header {
      display: flex;
      justify-content: space-between;
      position: fixed;
      width: 100%;
      margin: 0 auto;
      top: 0;
      background-color: white;
      z-index: 1000;
      font-size: 100%; }
      body .header-wrapper .header .header-topnav {
        list-style-type: none;
        overflow: hidden;
        display: flex;
        justify-content: flex-end;
        width: 100%; }
        body .header-wrapper .header .header-topnav .header-logo a {
          color: #313131;
          display: inline-block;
          top: 14px;
          left: 16px;
          text-decoration: none;
          font-size: 100%;
          letter-spacing: 2px;
          position: absolute; }
        body .header-wrapper .header .header-topnav .header-logo a:hover {
          color: #b1b1b1;
          transition: 0.3s; }
        body .header-wrapper .header .header-topnav .topnav-item a {
          display: inline-block;
          color: #313131;
          padding: 14px 16px;
          text-decoration: none;
          font-size: 17px; }
        body .header-wrapper .header .header-topnav .topnav-item a:hover {
          color: #b1b1b1;
          transition: 0.3s; }
  body .slider {
    position: relative;
    overflow: hidden; }
  body .slider__wrapper {
    display: flex;
    transition: transform 1s ease; }
  body .slider__item {
    flex: 0 0 100%;
    max-width: 100%;
    height: 100vh; }
    body .slider__item div {
      box-sizing: border-box;
      width: 100%;
      height: 100vh;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 20%; }
  body .slider__control {
    position: absolute;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    color: #fff;
    text-align: center;
    opacity: 0.5;
    height: 50px;
    transform: translateY(-50%); }
  body .slider__control:hover,
  body .slider__control:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: .9; }
  body .slider__control_left {
    left: 0; }
  body .slider__control_right {
    right: 0; }
  body .slider__control::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%; }
  body .slider__control_left::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E"); }
  body .slider__control_right::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E"); }
  body .slider__item > div {
    line-height: 100vh; }
  body .wrapper {
    width: 80%;
    margin: 0 auto; }
    body .wrapper .main-wrapper {
      margin: 0 auto; }
      body .wrapper .main-wrapper .main {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        width: 100%;
        margin: 100px auto 150px auto;
        box-sizing: border-box;
        width: 98%; }
        body .wrapper .main-wrapper .main .main-img {
          background-image: url(https://fs16.fex.net/preview/2646339702/0x0);
          box-sizing: border-box;
          border-radius: 4px;
          width: 500px;
          height: 80vh;
          margin: 0 0 100px 0;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: 50% 70%; }
        body .wrapper .main-wrapper .main .main-text {
          width: 500px;
          height: 80vh;
          line-height: 25px;
          text-align: center;
          display: flex;
          flex-direction: column;
          justify-content: center; }
          body .wrapper .main-wrapper .main .main-text .title {
            font-weight: bolder;
            color: #313131;
            font-size: 150%;
            letter-spacing: 6px;
            text-align: center; }
          body .wrapper .main-wrapper .main .main-text .subtitle {
            color: #313131;
            letter-spacing: 3px;
            margin: 15% 0 0 0;
            font-size: 80%;
            color: #7e7e7e; }
      body .wrapper .main-wrapper .main-gallery {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 100px auto 150px auto;
        box-sizing: border-box; }
        body .wrapper .main-wrapper .main-gallery .main-text {
          text-align: center;
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 300px; }
          body .wrapper .main-wrapper .main-gallery .main-text .title {
            font-weight: bolder;
            color: #313131;
            font-size: 150%;
            letter-spacing: 6px;
            text-align: center; }
          body .wrapper .main-wrapper .main-gallery .main-text .subtitle {
            color: #313131;
            letter-spacing: 3px;
            margin: 15% 0 0 0;
            font-size: 80%;
            color: #7e7e7e; }
        body .wrapper .main-wrapper .main-gallery .gallery-wrapper {
          flex-flow: row wrap;
          width: 100%;
          margin-top: 50px; }
          body .wrapper .main-wrapper .main-gallery .gallery-wrapper .gallery-list {
            justify-content: center;
            display: flex;
            flex-flow: row wrap; }
            body .wrapper .main-wrapper .main-gallery .gallery-wrapper .gallery-list li .gallery-list-item {
              width: 250px;
              margin: 1px 2px;
              border-radius: 3px; }
            body .wrapper .main-wrapper .main-gallery .gallery-wrapper .gallery-list li .gallery-list-item:hover {
              opacity: 0.5;
              transition: 0.3s; }
            body .wrapper .main-wrapper .main-gallery .gallery-wrapper .gallery-list li p {
              color: #313131;
              letter-spacing: 3px;
              margin: 3% 0 20% 0;
              font-size: 80%;
              color: #7e7e7e;
              text-align: center; }
  body .footer-wrapper {
    width: 100%;
    height: 100px; }
    body .footer-wrapper .footer {
      width: 80%;
      margin: auto;
      font-size: 80%;
      justify-content: space-between;
      color: #b1b1b1;
      box-sizing: border-box;
      padding-bottom: 30px; }
      body .footer-wrapper .footer div {
        margin-bottom: 20px; }
      body .footer-wrapper .footer div:hover {
        color: #e4e4e4;
        transition: 0.3s; }
      body .footer-wrapper .footer a {
        color: #979797; }
        body .footer-wrapper .footer a i {
          font-size: 130%;
          margin: 0 20px; }
        body .footer-wrapper .footer a i:hover {
          color: #e4e4e4;
          transition: 0.3s; }

/*# sourceMappingURL=style.css.map */
