@media only screen and (min-width: 701px) {
  body .wrapper {
    width: 90%; }
    body .wrapper .header-wrapper .header .header-topnav .topnav-icon a {
      display: none; }
  body .main-wrapper {
    width: 90%;
    margin: 0 auto; }
    body .main-wrapper .main {
      margin: 50px auto; }
  body .footer {
    display: flex;
    flex-direction: row; } }
@media only screen and (max-width: 700px) and (min-width: 320px) {
  .wrapper {
    width: 80%; }
    .wrapper .header {
      height: 50px; }
      .wrapper .header .header-topnav .topnav-item {
        display: none; }
      .wrapper .header .header-topnav .topnav-icon {
        position: absolute;
        top: 14px;
        cursor: pointer; }
        .wrapper .header .header-topnav .topnav-icon a {
          text-decoration: none;
          color: #313131;
          cursor: pointer; }

  .main-wrapper {
    width: 80%;
    margin: 0 auto; }

  .footer {
    display: flex;
    flex-direction: column;
    align-items: center; } }
@media only screen and (max-width: 700px) and (min-width: 320px) and (max-width: 700px) and (min-width: 320px) {
  .wrapper .responsive-header {
    height: 100vh; }
    .wrapper .responsive-header .responsive {
      display: flex;
      flex-direction: column;
      height: 55vh; }
      .wrapper .responsive-header .responsive .topnav-item {
        display: block;
        margin: auto; }
      .wrapper .responsive-header .responsive .topnav-item:nth-child(2) {
        margin-top: 100px; }
      .wrapper .responsive-header .responsive .topnav-icon {
        top: 14px;
        right: 0px; }
        .wrapper .responsive-header .responsive .topnav-icon a {
          text-decoration: none; } }
/*smoothly loading*/
@-webkit-keyframes fade-in {
  0% {
    opacity: 0.1; }
  100% {
    opacity: 1; } }
@-moz-keyframes fade-in {
  0% {
    opacity: 0.1; }
  100% {
    opacity: 1; } }
@-o-keyframes fade-in {
  0% {
    opacity: 0.1; }
  100% {
    opacity: 1; } }
@keyframes fade-in {
  0% {
    opacity: 0.1; }
  100% {
    opacity: 1; } }
body {
  -webkit-animation: fade-in 1s linear;
  /* Safari 4+ */
  -moz-animation: fade-in 1s linear;
  /* Fx 5+ */
  -o-animation: fade-in 1s linear;
  /* Opera 12+ */
  animation: fade-in 1s linear;
  /* IE 10+, Fx 29+ */ }

.wrapper .main-wrapper {
  width: 100% !important;
  margin: 0 auto; }
  .wrapper .main-wrapper .gallery {
    margin: 0 auto; }
    .wrapper .main-wrapper .gallery .row {
      display: flex;
      flex-wrap: wrap;
      width: 100%; }
      .wrapper .main-wrapper .gallery .row .column {
        padding: 0 2px; }
        .wrapper .main-wrapper .gallery .row .column img {
          margin-top: 4px;
          vertical-align: middle; }
        .wrapper .main-wrapper .gallery .row .column img:hover {
          transform: scale(1.05);
          transition: 2s; }

@media only screen and (min-width: 701px) {
  .column {
    flex: 30%; }
    .column img {
      width: 100%; } }
@media only screen and (max-width: 700px) and (min-width: 320px) {
  .column {
    flex: 50%; }
    .column img {
      width: 100%; } }
@keyframes zoomin {
  0% {
    max-width: 0%; }
  10% {
    max-width: 10%; }
  20% {
    max-width: 20%; }
  30% {
    max-width: 30%; }
  40% {
    max-width: 40%; }
  50% {
    max-width: 50%; }
  60% {
    max-width: 60%; }
  70% {
    max-width: 70%; }
  80% {
    max-width: 80%; }
  90% {
    max-width: 90%; }
  100% {
    max-width: 100%; } }
body {
  font-family: "Open Sans Condensed", sans-serif;
  background-color: white;
  width: 100%; }
  body .wrapper {
    width: 80%;
    margin: 0 auto; }
    body .wrapper .header-wrapper {
      width: 100%; }
      body .wrapper .header-wrapper .header {
        display: flex;
        justify-content: space-between;
        position: fixed;
        width: 80%;
        margin: 0 auto;
        top: 0;
        background-color: white;
        z-index: 1000;
        font-size: 100%; }
        body .wrapper .header-wrapper .header .header-topnav {
          list-style-type: none;
          overflow: hidden;
          display: flex;
          justify-content: flex-end;
          width: 100%; }
          body .wrapper .header-wrapper .header .header-topnav .header-logo a {
            color: #313131;
            display: inline-block;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 100%;
            letter-spacing: 2px;
            position: absolute;
            left: 0px; }
          body .wrapper .header-wrapper .header .header-topnav .header-logo a:hover {
            color: #b1b1b1;
            transition: 0.3s; }
          body .wrapper .header-wrapper .header .header-topnav .topnav-item a {
            display: inline-block;
            color: #313131;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px; }
          body .wrapper .header-wrapper .header .header-topnav .topnav-item a:hover {
            color: #b1b1b1;
            transition: 0.3s; }
    body .wrapper .main-wrapper {
      margin: 0 auto; }
      body .wrapper .main-wrapper .main {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        width: 100%;
        margin: 100px auto 150px auto;
        box-sizing: border-box;
        width: 98%; }
        body .wrapper .main-wrapper .main .main-img {
          background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/disp/fefe5c85800835.5d86cffb7cf95.jpg);
          box-sizing: border-box;
          border-radius: 4px;
          width: 500px;
          height: 80vh;
          margin: 0;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: 50% 70%; }
        body .wrapper .main-wrapper .main .main-text {
          width: 500px;
          height: 30vh;
          width: 400px;
          margin: auto;
          text-align: center;
          display: flex;
          flex-direction: column;
          justify-content: center; }
          body .wrapper .main-wrapper .main .main-text .title {
            font-weight: bolder;
            color: #313131;
            font-size: 150%;
            letter-spacing: 6px;
            text-align: center; }
          body .wrapper .main-wrapper .main .main-text .subtitle {
            color: #313131;
            letter-spacing: 3px;
            margin: 15% 0 0 0;
            font-size: 80%;
            color: #7e7e7e; }
      body .wrapper .main-wrapper .main-gallery {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        width: 100%;
        margin: 100px auto 150px auto;
        box-sizing: border-box; }
        body .wrapper .main-wrapper .main-gallery .main-text {
          text-align: center;
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 300px; }
          body .wrapper .main-wrapper .main-gallery .main-text .title {
            font-weight: bolder;
            color: #313131;
            font-size: 150%;
            letter-spacing: 6px;
            text-align: center; }
          body .wrapper .main-wrapper .main-gallery .main-text .subtitle {
            color: #313131;
            letter-spacing: 3px;
            margin: 15% 0 0 0;
            font-size: 80%;
            color: #7e7e7e; }
        body .wrapper .main-wrapper .main-gallery .gallery-wrapper {
          width: 600px;
          margin-top: 50px; }
          body .wrapper .main-wrapper .main-gallery .gallery-wrapper .gallery-list {
            justify-content: center;
            display: flex;
            flex-flow: row wrap; }
            body .wrapper .main-wrapper .main-gallery .gallery-wrapper .gallery-list li .gallery-list-item {
              width: 195px;
              margin: 1px 2px;
              border-radius: 3px; }
            body .wrapper .main-wrapper .main-gallery .gallery-wrapper .gallery-list li .gallery-list-item:hover {
              transform: scale(1.3);
              transition: 2s; }
  body .footer-wrapper {
    width: 100%;
    height: 140px; }
    body .footer-wrapper .footer {
      width: 80%;
      margin: auto;
      font-size: 80%;
      justify-content: space-between;
      color: #4b4b4b;
      box-sizing: border-box;
      padding-bottom: 30px; }
      body .footer-wrapper .footer div {
        margin-bottom: 20px; }
      body .footer-wrapper .footer div:hover {
        color: #e4e4e4;
        transition: 0.3s; }
      body .footer-wrapper .footer a {
        color: #313131; }
        body .footer-wrapper .footer a i {
          font-size: 130%;
          margin: 0 20px; }
        body .footer-wrapper .footer a i:hover {
          color: #e4e4e4;
          transition: 0.3s; }

/*# sourceMappingURL=style.css.map */
