@import "variables.scss";
@media only screen and (min-width: 701px) {
    body {
        .wrapper {
            width: 90%;
            .header-wrapper {
                .header {
                    .header-topnav {
                        .topnav-icon {
                            a {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
        .main-wrapper {
            width: 90%;
            margin: 0 auto;
            .main {
                margin: 50px auto;
            }
        }
        .footer {
            display: flex;
            flex-direction: row;
        }
    }
}

@media only screen and (max-width: 700px) and (min-width: 320px) {
    .wrapper {
        width: 80%;
        .header {
            height: 50px;
            .header-topnav {
                .topnav-item {
                    display: none;
                }
                .topnav-icon {
                    position: absolute;
                    top: 14px;
                    cursor: pointer;
                    a {
                        text-decoration: none;
                        color: $font-color;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .main-wrapper {
        width: 80%;
        margin: 0 auto;
    }
    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    @media only screen and (max-width: 700px) and (min-width: 320px) {
        .wrapper {
            .responsive-header {
                height: 100vh;
                .responsive {
                    display: flex;
                    flex-direction: column;
                    height: 55vh;
                    // align-items: flex-start;
                    // margin: 20px auto;
                    .topnav-item {
                        display: block;
                        margin: auto;
                    }
                    .topnav-item:nth-child(2) {
                        margin-top: 100px;
                    }
                    .topnav-icon {
                        top: 14px;
                        right: 0px;
                        a {
                            text-decoration: none;
                            // margin: 0;
                        }
                    }
                }
            }
            .main {
                .main-gallery {
                    .gallery-list-item {
                        // width: 200px;
                    }
                }
            }
        }
    }
}