.gallery {
    display: grid;
    grid-column-gap: 5px;
    grid-row-gap: 3px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 1px;
    width: 100%;
    margin: 0 auto;
    .gallery-item {
        transition: grid-row-start 300ms linear;
        transition: transform 300ms ease;
        transition: all 0.5s ease;
        cursor: pointer;
        .content {
            img {
                max-width: 100%;
                border-radius: 7px;
                transition: all 1.5s ease;
                // margin: 0 1px;
            }
        }
    }
    .gallery-item:hover {
        transform: scale(1.025);
    }
    .full {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        .content {
            // background-color: rgba(0, 0, 0, 0.75) !important;
            height: 100%;
            width: 100%;
            display: grid;
            img {
                left: 50%;
                transform: translate3d(0, 0, 0);
                animation: zoomin 1s ease;
                max-width: 100%;
                max-height: 100%;
                margin: auto;
            }
        }
    }
}

// media queries
@media (max-width: 600px) {
    .gallery {
        grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    }
}

@media (max-width: 400px) {
    .gallery {
        grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    }
}

@keyframes zoomin {
    0% {
        max-width: 0%;
        // transition: 4s;
    }
    10% {
        max-width: 10%;
        // transition: 4s;
    }
    20% {
        max-width: 20%;
        // transition: 4s;
    }
    30% {
        max-width: 30%;
        // transition: 4s;
    }
    40% {
        max-width: 40%;
        // transition: 4s;
    }
    50% {
        max-width: 50%;
        // transition: 4s;
    }
    60% {
        max-width: 60%;
        // transition: 4s;
    }
    70% {
        max-width: 70%;
        // transition: 4s;
    }
    80% {
        max-width: 80%;
        // transition: 4s;
    }
    90% {
        max-width: 90%;
        // transition: 4s;
    }
    100% {
        max-width: 100%;
        // transition: 4s;
    }
}