@import "variables.scss";
.wrapper {
    .header {
        .header-logo {
            a {}
        }
    }
    .main-wrapper {
        width: 100% !important;
        margin: 0 auto;
        .gallery {
            margin: 0 auto;
            .row {
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                .column {
                    padding: 0 3px;
                    img {
                        margin-top: 6px;
                        // width: 150%;
                        vertical-align: middle;
                    }
                    img:hover {
                        // transform: scale(1.097);
                        transition: 0.3s;
                        // opacity: 0.5;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 701px) {
    .column {
        flex: 30%;
        img {
            width: 100%
        }
    }
}

@media only screen and (max-width: 700px) and (min-width: 320px) {
    .column {
        flex: 50%;
        img {
            width: 100%
        }
    }
}

@keyframes zoomin {
    0% {
        max-width: 0%;
    }
    10% {
        max-width: 10%;
    }
    20% {
        max-width: 20%;
    }
    30% {
        max-width: 30%;
    }
    40% {
        max-width: 40%;
    }
    50% {
        max-width: 50%;
    }
    60% {
        max-width: 60%;
    }
    70% {
        max-width: 70%;
    }
    80% {
        max-width: 80%;
    }
    90% {
        max-width: 90%;
    }
    100% {
        max-width: 100%;
    }
}