@import "media.scss";
@import "variables.scss";
@import "mixin.scss";
body {
    font-family: $font-family;
    .wrapper {
        width: 80%;
        margin: 0 auto;
        .header-wrapper {
            .header {
                display: flex;
                justify-content: space-between;
                position: fixed;
                width: 80%;
                margin: 0 auto;
                top: 0;
                background-color: $bg-color;
                z-index: 1000;
                font-size: 100%;
                .header-topnav {
                    list-style-type: none;
                    overflow: hidden;
                    display: flex;
                    justify-content: flex-end;
                    width: 100%;
                    .header-logo {
                        a {
                            color: $font-color;
                            display: inline-block;
                            padding: 14px 16px;
                            text-decoration: none;
                            font-size: 100%;
                            letter-spacing: 2px;
                            position: absolute;
                            left: 0px;
                        }
                        a:hover {
                            color: lighten( $font-color, 50%);
                            transition: 0.3s;
                        }
                    }
                    .topnav-item {
                        a {
                            display: inline-block;
                            color: $font-color;
                            text-align: center;
                            padding: 14px 16px;
                            text-decoration: none;
                            // transition: 1s;
                            font-size: 17px;
                        }
                        a:hover {
                            color: lighten( $font-color, 50%);
                            transition: 0.3s;
                        }
                    }
                    .topnav-icon {}
                }
            }
        }
        // MAIN
        .main-wrapper {
            // width: 90%;
            margin: 0 auto;
            .main {
                @include wrapper;
                .main-img {
                    background-image: url(../img/IMG_1730_LR2.jpg);
                    box-sizing: border-box;
                    border-radius: 4px;
                    width: 500px;
                    height: 80vh;
                    margin: 0;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: 50% 70%;
                }
                // .main-img:hover {
                //     transform: scale(1.0);
                //     transition: 2s;
                // }
                .main-text {
                    width: 500px;
                    height: 30vh;
                    width: 400px;
                    margin: auto;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    .title {
                        @include title;
                    }
                    .subtitle {
                        @include subtitle;
                    }
                }
            }
            .main-gallery {
                @include wrapper;
                .main-text {
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: 400px;
                    .title {
                        @include title;
                    }
                    .subtitle {
                        @include subtitle;
                    }
                }
                .gallery-wrapper {
                    width: 500px;
                    margin-top: 50px;
                    .gallery-list {
                        justify-content: center;
                        display: flex;
                        flex-flow: row wrap;
                        li {
                            .gallery-list-item {
                                width: 160px;
                                margin: 1px 2px;
                                border-radius: 3px;
                            }
                            .gallery-list-item:hover {
                                transform: scale(1.3);
                                transition: 2s;
                            }
                        }
                    }
                }
            }
        }
    }
    .footer-wrapper {
        width: 100%;
        height: 140px;
        .footer {
            width: 80%;
            margin: auto;
            font-size: 80%;
            justify-content: space-between;
            color: lighten( $font-color, 10%);
            box-sizing: border-box;
            padding-bottom: 30px;
            a {
                color: $font-color;
                i {
                    font-size: 130%;
                    margin: 0 20px;
                }
                i:hover {
                    color: lighten( $font-color, 70%);
                    transition: 0.3s;
                }
            }
            // #toTop {
            //     position: fixed;
            //     right: 40px;
            //     bottom: 130px;
            // }
        }
    }
}