@import "media.scss";
@import "variables.scss";
@import "mixin.scss";
@import "loading.scss";
@import "portfolio.scss";
body {
    font-family: $font-family;
    background-color: $bg-color;
    width: 100%;
    .header-wrapper {
        width: 100%;
        .header {
            display: flex;
            justify-content: space-between;
            position: fixed;
            width: 100%;
            margin: 0 auto;
            top: 0;
            background-color: $bg-color;
            z-index: 1000;
            font-size: 100%;
            .header-topnav {
                list-style-type: none;
                overflow: hidden;
                display: flex;
                justify-content: flex-end;
                width: 100%;
                // padding: 0 10%;
                .header-logo {
                    a {
                        color: $font-color;
                        display: inline-block;
                        padding: 14px 16px;
                        text-decoration: none;
                        font-size: 100%;
                        letter-spacing: 2px;
                        position: absolute;
                        left: 0px;
                    }
                    a:hover {
                        color: lighten( $font-color, 50%);
                        transition: 0.3s;
                    }
                }
                .topnav-item {
                    a {
                        display: inline-block;
                        color: $font-color;
                        // text-align: center;
                        padding: 14px 16px;
                        text-decoration: none;
                        // transition: 1s;
                        font-size: 17px;
                    }
                    a:hover {
                        color: lighten( $font-color, 50%);
                        transition: 0.3s;
                    }
                }
                .topnav-icon {}
            }
        }
    }
    //////////<slider>
    .slider {
        position: relative;
        overflow: hidden;
    }
    .slider__wrapper {
        display: flex;
        transition: transform 0.6s ease;
        /* height: 100vh; */
    }
    .slider__item {
        flex: 0 0 100%;
        max-width: 100%;
        height: 100vh;
    }
    .slider__control {
        position: absolute;
        top: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        color: #fff;
        text-align: center;
        opacity: 0.5;
        height: 50px;
        transform: translateY(-50%);
        background: rgba(0, 0, 0, .5);
    }
    .slider__control:hover,
    .slider__control:focus {
        color: #fff;
        text-decoration: none;
        outline: 0;
        opacity: .9;
    }
    .slider__control_left {
        left: 0;
    }
    .slider__control_right {
        right: 0;
    }
    .slider__control::before {
        content: '';
        display: inline-block;
        width: 20px;
        height: 20px;
        background: transparent no-repeat center center;
        background-size: 100% 100%;
    }
    .slider__control_left::before {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    }
    .slider__control_right::before {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    }
    .slider__item>div {
        line-height: 100vh;
        /* font-size: 100px; */
        /* text-align: center; */
    }
    //////////</slider>
    .wrapper {
        width: 80%;
        margin: 0 auto;
        // MAIN
        .main-wrapper {
            // width: 80%;
            margin: 0 auto;
            .main {
                @include wrapper;
                width: 98%;
                .main-img {
                    background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/disp/fefe5c85800835.5d86cffb7cf95.jpg);
                    box-sizing: border-box;
                    border-radius: 4px;
                    width: 500px;
                    height: 80vh;
                    margin: 0;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: 50% 70%;
                }
                // .main-img:hover {
                //     transform: scale(1.0);
                //     transition: 2s;
                // }
                .main-text {
                    width: 500px;
                    height: 30vh;
                    width: 400px;
                    margin: auto;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    .title {
                        @include title;
                    }
                    .subtitle {
                        @include subtitle;
                    }
                }
            }
            .main-gallery {
                @include wrapper;
                .main-text {
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: 300px;
                    .title {
                        @include title;
                    }
                    .subtitle {
                        @include subtitle;
                    }
                }
                .gallery-wrapper {
                    width: 600px;
                    margin-top: 50px;
                    .gallery-list {
                        justify-content: center;
                        display: flex;
                        flex-flow: row wrap;
                        li {
                            .gallery-list-item {
                                width: 195px;
                                margin: 1px 2px;
                                border-radius: 3px;
                            }
                            // .gallery-list-item:hover {
                            //     transform: scale(1.02);
                            //     transition: 2s;
                            // }
                        }
                    }
                }
            }
        }
    }
    .footer-wrapper {
        width: 100%;
        height: 100px;
        .footer {
            width: 80%;
            margin: auto;
            font-size: 80%;
            justify-content: space-between;
            color: lighten( $font-color, 50%);
            box-sizing: border-box;
            padding-bottom: 30px;
            div {
                margin-bottom: 20px;
            }
            div:hover {
                color: lighten( $font-color, 70%);
                transition: 0.3s;
            }
            a {
                color: lighten( $font-color, 40%);
                i {
                    font-size: 130%;
                    margin: 0 20px;
                }
                i:hover {
                    color: lighten( $font-color, 70%);
                    transition: 0.3s;
                }
            }
        }
    }
}