@import "media.scss";
@import "variables.scss";
@import "mixin.scss";
body {
    font-family: $font-family;
    // background-color: rgb(241, 243, 142);
    .wrapper {
        width: 80%;
        margin: 0 auto;
        // background-color: rgb(190, 118, 92);
        // HEADER
        .header-wrapper {
            .header {
                display: flex;
                justify-content: space-between;
                position: fixed;
                width: 80%;
                margin: 0 auto;
                top: 0;
                background-color: $bg-color;
                z-index: 1000;
                font-size: 100%;
                .header-topnav {
                    list-style-type: none;
                    overflow: hidden;
                    display: flex;
                    justify-content: flex-end;
                    width: 100%;
                    // background-color: rgb(119, 106, 236);
                    .header-logo {
                        // background-color: rgb(82, 209, 209);
                        a {
                            color: $font-color;
                            display: inline-block;
                            text-align: center;
                            padding: 14px 16px;
                            text-decoration: none;
                            font-size: 100%;
                            letter-spacing: 4px;
                            position: absolute;
                            left: 0;
                        }
                        a:hover {
                            color: lighten( $font-color, 50%);
                            transition: 0.3s;
                        }
                    }
                    .topnav-item {
                        a {
                            display: inline-block;
                            color: $font-color;
                            text-align: center;
                            padding: 14px 16px;
                            text-decoration: none;
                            // transition: 1s;
                            font-size: 17px;
                        }
                        a:hover {
                            color: lighten( $font-color, 50%);
                            transition: 0.3s;
                        }
                    }
                    .topnav-icon {}
                }
            }
        }
        // MAIN
        .main-wrapper {
            width: 80%;
            margin: 0 auto;
            .main {
                @include wrapper;
                // background-color: rgb(144, 214, 187);
                .main-img {
                    background-image: url(../img/IMG_1730_LR2.jpg);
                    box-sizing: border-box;
                    border-radius: 4px;
                    width: 400px;
                    height: 80vh;
                    margin: 0;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: 50% 70%;
                }
                // .main-img:hover {
                //     transform: scale(1.0);
                //     transition: 2s;
                // }
                .main-text {
                    width: 400px;
                    height: 30vh;
                    width: 400px;
                    margin: auto;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    .title {
                        @include title;
                    }
                    .subtitle {
                        @include subtitle;
                    }
                }
            }
            .main-gallery {
                @include wrapper;
                // background-color: rgb(238, 190, 175);
                .main-text {
                    // background-color: yellowgreen;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: 350px;
                    .title {
                        @include title;
                    }
                    .subtitle {
                        @include subtitle;
                    }
                }
                .gallery-wrapper {
                    // background-color: grey;
                    width: 500px;
                    margin-top: 50px;
                    .gallery-list {
                        justify-content: center;
                        display: flex;
                        flex-flow: row wrap;
                        li {
                            .gallery-list-item {
                                width: 160px;
                                margin: 1px 2px;
                                border-radius: 3px;
                            }
                            .gallery-list-item:hover {
                                transform: scale(1.50);
                                transition: 2s;
                            }
                        }
                    }
                }
            }
        }
        // FOOTER
    }
    .footer {
        width: 100%;
        height: 140px;
        // background-color: aqua;
        margin: auto;
        font-size: 80%;
        display: flex;
        flex-direction: row wrap;
        justify-content: space-between;
        color: lighten( $font-color, 10%);
        // background-color: rgb(222, 135, 203);
        a {
            // text-decoration: none;
            color: $font-color;
            i {
                font-size: 130%;
                margin-left: 40px;
            }
            i:hover {
                color: lighten( $font-color, 70%);
                transition: 0.3s;
            }
        }
    }
}